<div class="container mt-3">
  <h1>KVS WebRTC Test Page</h1>
  <p>This is the KVS Signaling Channel WebRTC test page. Use this page to connect to a signaling channel as either the
    MASTER or as a VIEWER.</p>

  <div class="row loader"></div>
  <div id="main" class="d-none">
    <div id="form" *ngIf='formValues'>
      <h4>KVS Endpoint</h4>
      <div class="form-group">
        <label>Region</label>
        <input type="text" class="form-control" id="region" [value]="formValues.region" disabled>
      </div>
      <div class="form-group">
        <label>Endpoint <small>(optional)</small></label>
        <input type="text" class="form-control" id="endpoint" placeholder="Endpoint" [(ngModel)]="formValues.endpoint">
      </div>
      <h4>AWS Credentials</h4>
      <div class="form-group">
        <label>Access Key ID</label>
        <input type="text" class="form-control" id="accessKeyId" placeholder="Access key id"
          [(ngModel)]="formValues.accessKeyId" disabled>
      </div>
      <div class="form-group">
        <label>Secret Access Key</label>
        <input type="text" class="form-control" id="secretAccessKey" placeholder="Secret access key"
          [(ngModel)]="formValues.secretAccessKey" disabled>
      </div>
      <div class="form-group">
        <label>Session Token <small>(optional)</small></label>
        <input type="text" class="form-control" id="sessionToken" placeholder="Session token"
          [(ngModel)]="formValues.sessionToken">
      </div>
      <h4>Signaling Channel</h4>
      <div class="form-group">
        <label>Channel Name</label>
        <input type="text" class="form-control" id="channelName" placeholder="Channel"
          [(ngModel)]="formValues.channelName">
      </div>
      <div class="form-group">
        <label>Client Id <small>(optional)</small></label>
        <input type="text" class="form-control" id="clientId" placeholder="Client id" [(ngModel)]="formValues.clientId"
          disabled>
      </div>
      <h4>Tracks</h4>
      <p><small>Control which media types are transmitted to the remote client.</small></p>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="sendVideo" [value]="true" [(ngModel)]="formValues.video">
          <label class="form-check-label">Send Video</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="sendAudio" [value]="true" [(ngModel)]="formValues.audio">
          <label class="form-check-label">Send Audio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="openDataChannel" [value]="true"
            [(ngModel)]="formValues.openDataChannel">
          <label class="form-check-label">Open DataChannel</label>
        </div>
      </div>
      <h4>Video Resolution</h4>
      <p><small>Set the desired video resolution and aspect ratio.</small></p>
      <div class="form-group">
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="resolution" id="widescreen" value="widescreen"
            [(ngModel)]="formValues.resolution">
          <label class="form-check-label" for="widescreen">1280x720 <small>(16:9 widescreen)</small></label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="resolution" id="fullscreen" value="fullscreen"
            [(ngModel)]="formValues.resolution">
          <label class="form-check-label" for="fullscreen">640x480 <small>(4:3 fullscreen)</small></label>
        </div>
      </div>
      <h4>NAT Traversal</h4>
      <p><small>Control settings for ICE candidate generation.</small></p>
      <div class="form-group">
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="natTraversal" id="natTraversalEnabled" value="STUN"
            [(ngModel)]="formValues.natTraversal">
          <label class="form-check-label" for="natTraversalEnabled">STUN/TURN</label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="natTraversal" id="forceTURN" value="forceTURN"
            [(ngModel)]="formValues.natTraversal">
          <label class="form-check-label" for="forceTURN">TURN Only <small>(force cloud relay)</small></label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="natTraversal" id="natTraversalDisabled"
            value="natTraversalDisabled" [(ngModel)]="formValues.natTraversal">
          <label class="form-check-label" for="natTraversalDisabled">Disabled</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="useTrickleICE" [value]="true"
            [(ngModel)]="formValues.useTrickleICE">
          <label class="form-check-label">Use trickle ICE <small>(not supported by Alexa devices)</small></label>
        </div>
      </div>
      <div>
        <button id="master-button" type="button" class="btn btn-primary">Start Master</button>
        <button id="viewer-button" type="button" class="btn btn-primary">Start Viewer</button>
        <button id="create-channel-button" type="button" class="btn btn-primary" (click)='startNewChannel(StartNewChannelTemplate)'>
          Create Channel
        </button>
      </div>
    </div>

    <div id="master" class="d-none">
      <h2>Master</h2>
      <div class="row">
        <div class="col">
          <h5>Master Section</h5>
          <div class="video-container"><video class="local-view" autoplay playsinline controls></video></div>
        </div>
        <div class="col">
          <h5>Viewer Return Channel</h5>
          <div class="video-container"><video class="remote-view" autoplay playsinline controls></video></div>
        </div>
      </div>
      <div class="row datachannel">
        <div class="col">
          <div class="form-group">
            <textarea type="text" class="form-control local-message" placeholder="DataChannel Message"> </textarea>
          </div>
        </div>
        <div class="col">
          <div class="card bg-light mb-3">
            <pre class="remote-message card-body text-monospace preserve-whitespace"></pre>
          </div>
        </div>
      </div>
      <div>
        <span class="send-message datachannel">
          <button type="button" class="btn btn-primary">Send DataChannel Message</button>
        </span>
        <button id="stop-master-button" type="button" class="btn btn-primary">Stop Master</button>
      </div>
    </div>

    <div id="viewer" class="d-none">
      <h2>Viewer</h2>
      <div class="row">
        <div class="col">
          <h5>Return Channel</h5>
          <div class="video-container"><video class="local-view" autoplay playsinline controls></video></div>
        </div>
        <div class="col">
          <h5>From Master</h5>
          <div class="video-container"><video class="remote-view" autoplay playsinline controls></video></div>
        </div>
      </div>
      <div class="row datachannel">
        <div class="col">
          <div class="form-group">
            <textarea type="text" class="form-control local-message" placeholder="DataChannel Message"> </textarea>
          </div>
        </div>
        <div class="col">
          <div class="card bg-light mb-3">
            <pre class="remote-message card-body text-monospace preserve-whitespace"></pre>
          </div>
        </div>
      </div>
      <div>
        <span class="send-message datachannel" class="d-none">
          <button type="button" class="btn btn-primary">Send DataChannel Message</button>
        </span>
        <button id="stop-viewer-button" type="button" class="btn btn-primary">Stop Viewer</button>
      </div>
    </div>

    <h3 id="logs-header">Logs</h3>
    <div class="card bg-light mb-3">
      <pre id="logs" class="card-body text-monospace preserve-whitespace"></pre>
    </div>

  </div>
</div>

<div id="test"></div>

<ng-template #StartNewChannelTemplate let-modal>
  <div class="modal-header d-block pb-12">
    <h3 class="modal-title mb-0">New Channel</h3>
    <button type="button" class="close" (click)="modal.close(null)" aria-label="Close" id="close-btn">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body pb-8">
    <div class="form-group">
      <label>Channel Name</label>
      <input type="text" class="form-control" id="channelName" placeholder="Channel" #channelNameInput>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close(null)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="channelNameInput?.value ? modal.close(channelNameInput?.value): null">Start</button>
  </div>
</ng-template>
